:root {
  --color-primary: #00b7ee;
  --color-secondary: #00a3d4;
  --color-text: theme("colors.gray.900");
  --color-text-offset: theme("colors.gray.600");
  --color-background: #ffffff;
  --color-background-offset: theme("colors.gray.50");
  --color-border: theme("colors.gray.900" / 10%);
}
