---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

---

<ContentSection title="Então Porquê Kandersteg?" id="compatibility">
  <Fragment slot="lead">
    Ir a<span class="text-primary">Kandersteg</span> é há muitos anos um <span class="text-primary">sonho</span>. 
    Sempre foi uma realidade distante que ouvia outros falar como sendo um sitio <span class="text-primary">mágico</span>.
    Conheci esta a atividade há pouco tempo, mas desde o primeiro segundo que ouvi falar, fiquei com uma 
    <span class="text-primary">enorme vontade</span> de fazer parte disto.
    Acho que ter conhecido a atividade tão recentemente e as inscrições terem aberto tão próximo,
    <span class="text-primary">é o destino a dizer-me para me mandar</span>.
    Sinto que é uma oportunidade única de deixar uma 
    <span class="text-primary">marca em algo maior</span>.
  </Fragment>
</ContentSection>
