---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Objetivo no Escutismo" id="objetivos">
  <Fragment slot="lead">
    Desde que entrei nos caminheiros e descobri o que é <span class="text-primary">viver a IV</span>, que 
    quis tentar
    <span class="text-primary">deixar uma marca</span>, por mais pequena que seja.
    Ser caminheiro é <span class="text-primary">servir</span> e criar 
    <span class="text-primary">laços</span> que duram uma vida toda. 
    <span class="text-primary">Viver a IV</span> é <span class="text-primary">viver a vida</span>.
    <span class="text-primary">Ser caminheiro</span> é <span class="text-primary">viver a vida ao máximo</span>.
    o, tentei desde desde cedo 
    <span class="text-primary">dar o máximo de mim</span>
     a vários projetos, para 
     <span class="text-primary">retribuir</span> tudo aquilo que recebi deles.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://www.instagram.com/p/C2QZepoLB04/?img_index=2"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-white px-6 py-4 text-primary hover:bg-primary hover:text-white transition-colors"
    >
      <span class="font-bold">Cenáculo Núcleo Este</span>
      <span>Departamento de Animação</span>
    </a>
    <a
      href="https://www.instagram.com/p/DFNEc0oI72H/?img_index=2"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-primary px-6 py-4 text-white hover:bg-white hover:text-primary transition-colors"
    >
      <span class="font-bold">Cenáculo Núcleo Este</span>
      <span>Departamento de Fórum</span>
    </a>
    {/*  
    <a
      href="https://www.instagram.com/ivinservice.porto/"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-primary px-6 py-4 text-white hover:bg-white hover:text-primary transition-colors"
    >
      <span class="font-bold">IV In Service</span>
      <span>Departamento de Animação</span>
    </a> 
    */}
    <a
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-primary px-6 py-4 text-white hover:bg-white hover:text-primary transition-colors"
    >
      <span class="font-bold">Staff do CNAE</span>
      <span>Equipa Pedagógica</span>
    </a>
  </div>
</ContentSection>
