---
import Icon from "~/components/Icon.astro";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://www.instagram.com/henriqueft_04/",
    description: "Instagram",
    icon: "fa-brands:instagram",
  },
];
---

<footer class="relative flex h-64 items-center justify-center bg-white">
  <div class="absolute inset-0 overflow-hidden opacity-10">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex size-16 items-center justify-center rounded-full border-2 border-primary p-4 text-primary hover:bg-primary hover:text-white transition-colors"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
