---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import CompatibilityList from "~/components/compatibility-list.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Boas Vibes",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "Guitarradas",
    icon: "frameworks/preact",
    url: "https://preactjs.com/",
  },
  {
    title: "Já referi Vibes?",
    icon: "frameworks/svelte",
    url: "https://svelte.dev/",
  },
  {
    title: "Empenho",
    icon: "frameworks/vue",
    url: "https://vuejs.org/",
  },
  {
    title: "Boa Disposição",
    icon: "frameworks/solid",
    url: "https://www.solidjs.com/",
  },
  {
    title: "Versatilidade",
    icon: "frameworks/lit",
    url: "https://lit.dev/",
  },
];

---

<ContentSection title="O que tenho a dar?" id="showcase">
  <Fragment slot="lead">
    Sou muito <span class="text-primary">versátil</span>.
    Gosto de explorar <span class="text-primary">novas realidades</span> e adaptar-me a novas situações.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="O que tenho a dar?"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
</ContentSection>
