---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import CompatibilityList from "~/components/compatibility-list.astro";
import type { CompatibilityItem } from "~/types";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Boas Vibes",
    icon: "wave",
    url: "#dar",
  },
  {
    title: "Guitarradas",
    icon: "guitar-acoustic",
    url: "#dar",
  },
  {
    title: "Mais Vibes",
    icon: "rock-on",
    url: "#dar",
  },
  {
    title: "Empenho",
    icon: "energy",
    url: "#dar",
  },
  {
    title: "Boa Humor",
    icon: "happy",
    url: "#dar",
  },
  {
    title: "Versatilidade",
    icon: "octopus",
    url: "#dar",
  },
];

---

<ContentSection title="O que tenho a Dar?" id="dar">
  <Fragment slot="lead">
    Sou muito <span class="text-primary">versátil</span>.
    Gosto de explorar <span class="text-primary">novas realidades</span> e adaptar-me a novas situações.
    Adoro <span class="text-primary">aprender</span> e <span class="text-primary">trabalhar em equipa</span>. 
    Sei que posso ter <span class="text-primary">dificuldades</span> em certas situações, 
    e algumas <span class="text-primary">falhas</span>, mas também sei que o meu ponto forte é a minha
    <span class="text-primary">perseverança</span> e <span class="text-primary">determinação</span>,
    quando me proponho a algo, <span class="text-primary">não desisto</span> até o conseguir.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="O que tenho a dar?"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
</ContentSection>
